@media only screen and (min-width: 64em){
header{
    background-image: url("../images/header1500x.jpeg");
}
    main{
        width: 1400px;
        margin: 0 auto;
    }
    .footer img{
    width: 1500px;
}
    main section:nth-child(2){
        height: auto;
        padding-bottom: 1em;
    }
    main section img{
        display: block;
        padding: 1em;
        margin: 0 auto;
    }
    main section li{
        background-color: #00a1f1;
        padding: .5em;
        width: 500px;
        border: thin solid gray;
        border-radius: 30px 4px;
        margin: 0 auto 10px;
        text-align: center;
    }
    main section li a{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color: white
    }
}