@media only screen and (min-width: 64em){
    .header{
        width: auto;
        margin: 0 auto;
        background-image: url(../images/header1500x300.jpeg);
    }
    .header h1{
        font-size: 5em;
        width: 900px;
    }
nav{
    width: 1400px;
    margin: 0 auto;
    padding: .2em;
}
nav ul{
    width: auto;
    padding: 0;
}
nav ul li{
    width: 11em;
    margin: 10px;
    padding: 0.4em;
    border-bottom: thin solid black;
}
    nav ul li:nth-child(3){
        width: 250px;
    }
    nav ul li a{
        font-size: 2em;
    }
    main{
        display: block;
        width: 1400px;
        margin: 0 auto;
    }
    main > h2:nth-child(1){
        font-size: 2em;
        padding: 1em;
        width: 40%;
    }
    main>article{
        width: 1200px;
    }
    main>article>figure>img{
        padding: 0;
        margin: 0 auto;
    }
    main>figure{
        display: flex;
        border: thin solid black;
        margin: 0 auto 1em;
        width: 1200px;
    }
    main>figure>img{
        width: 100%;
    }
    .footer{
        width: auto;
        background-image: url(../images/footer1500x.png);
        height: 100px;
        color: black;
        font-size: 1.5em;
    }
       .footer>p:nth-child(2){
        color: black;
        font-size: 1.5em;
    }
    .event-link{
        padding: 1em;
        width: 95%
    }

    .event-link img{
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
    .event-link li{
        background-color: #00a1f1;
        padding: .5em;
        width: auto;
        border: thin solid gray;
        border-radius: 2px;
        text-align: center;
        margin: 0 auto;
    }
    .event-link li:hover{
        box-shadow: 4px 4px 4px gray;
    }
    .event-link li a{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color: white
    }
    /*--Adventure Page---*/
    .mainadv{
        width: 1400px;
        padding: 2em;
    }
    main>h1{
        font-size: 4em;
        background-color: aliceblue;
        padding: .2em;
    }
    .sectionadv{
        display: flex;
        flex-direction: row;
        padding: 1em;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 10px;
    }
    .sectionadv h2{
        font-size: 2em; 
    }
    .sectionadv>img{
        border-radius: 2px 2px;
        box-shadow: 2px 2px 2px;
        margin: 10px;
    }
    .articleadv{
        font-size: 1.2em;
        border: thin solid #00a1f1;
        padding: .5em;
        border-radius: 2px 2px;
        width: 50%;
    }
    /*--Repair Page--*/
    .mainrep{
        background-color: #ff9900;
    }
    .sectionrep{
        width: 1200px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
    }
    .sectioncont>p{
        font-size: 2em;
        margin: 0 auto;
        padding: .3em;
        width: 40%;
    }
    div>form{
        border: thin solid gray;
        width: 40%;
        margin: 0 auto;
        background: #F9F9F9;
    }
    div>form>h3{
        font-size: 3em;
        padding: .3em;
        color: #F96;
    }
    div>form>fieldset{
        border: none;
        padding: .7em;
    }
    div>form>fieldset>textarea{
        width: 500px;
        height: 400px;
}
        .itemview>article>h2{
        text-align: center
    }
    .itemview>article>figure{
        width: 1000px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .itemview>article>figure>img{
        width: 100%;
    }
}