@media only screen and (min-width: 37.5em) {

nav{
   width: auto;
}
nav ul{
    margin: 0 auto;
    padding: .5em;
    width: 1200px;
}
nav ul li{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 30px;
    padding: .5em;
    margin: 0 auto;
    border: thin solid gray;
    border-radius: 25px 4px;
}
/*--NAV COLOR--*/
nav ul li:nth-child(1){
    background-color: #FFFFFF;
}
nav ul li:nth-child(2){
    background-color: #00a1f1;
}
nav ul li:nth-child(3){
    background-color: #ff9900;
}
nav ul li:nth-child(4){
    background-color: #66767f;
}
nav ul li:nth-child(5){
    background-color: #ffcc00;
}
/*END*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
nav ul li:hover{
    background-color: red;
    box-shadow: 4px 4px 4px gray;
    text-decoration: underline;
}
/*nav ul li a:hover{
    color:whitesmoke;
}*/
    main{
        width: 900px;
        box-shadow: 4px 4px gray;
    }
    main article{
        width: 1000px;
        margin: 0 auto;
    }
    main article p{
        font-family: cargo;
        font-size: 20px;
        text-align: left;
    }
    main figure{
        width: 1000px;
        margin: 0 auto;
    }
    main figure img{
        box-shadow: -.1px 2px 2px 2px black;
    }
    .buttons{
        display: block;
        width: 130px;
        margin: 0 auto;
        padding: .5em;
    }
    /*--Adventure Page---*/
    .mainadv{
        width: 900px;
        padding: .5em;
        background-color: #00a1f1;

    }
    .sectionadv{
        padding: 1em;
        background-color: #ffffff;
        border-radius: 2px 2px;
    }
    .sectionadv h2{
        width: 120px;
    }
    .sectionadv img:nth-child(1){
        border-radius: 2px 2px;
        box-shadow: 2px 2px 2px;
    }
    .articleadv{
        font-size: 16px;
        border: thin solid #00a1f1;
        padding: .5em;
        border-radius: 2px 2px;
    }

}