* {
font-family: Gaegu;
/*background-image: url(../img-project/background-img.jpg);*/
}
body{
    max-width: 1500px;
    margin: 0 auto;
    background-color: lightgray;
    box-shadow: 1px -.5px 3px 3px gray;
}
header, footer{
    width: 1500px;
    margin: 0 auto;
}
.header h1 {
    margin: 0 auto;
    width: 900px;
    font-size: 5em;
    }
.header h1 span:nth-child(1){
    color: #FFBB00;
}
.header h1 span:nth-child(2){
    color: #55ACEE;
}
.header h1 span:nth-child(4){
    color: #EA4335;
}
.header h1 span:nth-child(3), span:nth-child(5){
    color: #ff9900;
}
main{
    background-color: #FFFFFF;
    margin: 0 auto;
}
.footer{
    font-size: 2em;
    text-align: center;
    position: relative;
}
.footer p{
    margin: 0 auto;
    width: auto;
}
.footer>a{
    display: none;
}
li{
    list-style: none;
}
@media only screen and (max-width:37.5em){
    nav li{
        display: none;
        text-align: center;
    }
    .header{
        max-width: 500px;
        min-width: 99%;
        background-image: url(../images/header600x300.jpeg);
        margin: 0 auto;
        padding: .1em;
    }
    .header>h1{
        width: 500px;
        font-size: 3em;
        padding: .5em 0 2em .5em;
    }
    .header>h1>img{
        display: none;
    }
.footer{
    font-size: 1.5em;
    background-image: url(../images/footer500x.jpeg);
    width: 100%;
    min-width: 500px;
    color: whitesmoke;
}
    .footer p:nth-child(1){
        color: black;
        font-weight: bold;
    }
.footer img{
    margin: 0 auto;
    width: 100%;
}
    main{
        width: 100%;
        min-width: 500px;
        padding: 0;
        margin: 0 auto;
    }
    main > h2{
        width: 85%;
        padding: 1em;
        margin: 0 auto;
    }
    main>figure{
        width: 90%;
        padding: 1em;
        margin: 0 auto;
    }
    main>figure>img{
        width: 100%;
    }

    main>article{
        margin: 10px;
        border: thin solid lightgray;
        padding: 1em;
        border-radius: 5px;
    }
    main>article>p{
        font-family: cargo;
        font-size: 20px;
        text-align: left;
    }
    main>article>figure>img{
        display: none;
    }
    main>section{
        margin: 10px;
        border-radius: 5px;
    }
    .sectionrep{
        width: auto;
        border: thin solid gray;
    }
    .sectionrep>article{
        display: block;
        border: thin solid gray;
        border-radius: 5px;
        margin: 10px;
        padding: .2em;
    }
    .sectionrep>article>h2{
        border: 1px solid red;
        padding: .2em;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        border: thin solid black;
        border-radius: 5px;
        background-color: gray;
    }
    .sectionrep>article>p{
        padding: .5em;
        margin: 5px;
        font-weight: bold;
    }
    .sectionrep>article>p:nth-child(0){
        font-weight: bold;
    }
    .event-link>li{
        background-color: #00a1f1;
        color: white;
        padding: .3em;
        margin: 0 0 10px;
        border-radius: 5px;
        text-align: center;
    }
    .event-link>li>a{
        color: #ffffff;
        padding: .1em;
        text-decoration: none;
        font-size: 2em;
    }
    .event-link>img{
        display: block;
        margin: 10px auto 10px auto;
        
    }
    /*.mySlides{
        width: 100%;
        border-radius: 5px;
    }
    .buttons{
        display: block;
        width: 130px;
        margin: 0 auto;
        padding: .5em;
    }*/
    .mainadv{
        width: 100%;
        padding: .1em;
        background-color: #00a1f1;
    }
    .mainadv h2{
        padding: .5em;
    }
    .sectionadv{
        background: #FFFFFF;
        min-width: 98%;
    }
    .sectionadv span{
        font-weight: bold;
    }
    .sectionadv img{
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    }
    .articleadv{
        padding: 1em;
    }
    /*--SALES PAGE--*/
    .mainsal{
        background-color: #66767f;
        width: 97%;
        padding: .5em;
    }
    /*--Contact PAGE--*/
    .maincont{
        background-color: #3fa956;
        width: 97%;
    }
    .maincont h1{
        padding: .2em;
        background-color: aliceblue;
    }
    .sectioncont{
        padding: .5em;
        background-color: #ffffff;
        margin: 10px;
    }
        div>form{
        border: thin solid lightgray;;
        margin: 0 auto;
        background: #F9F9F9;
        padding: 1em;
    }
    div>form>h3{
        font-size: 2em;
        padding: .1em;
        color: #F96;
    }
    div>form>fieldset{
        border: none;
        padding: .5em;
        width: 90%;
        margin: 0 auto;
    }
    div>form>fieldset>textarea{
        width: 200px;
        height: 200px;
    }
    iframe{
        width: 97%;
        padding: 0.5em;
    }
    /*Event PAGE*/
    .maineven{
        background-color: #ffcc00;
        width: 100%;
        min-width: 500px;
    }
    .sectioneven{
        background-color: #ffff;
        padding: 1em;
        margin: 10px;
    }
   .sectioneven>h2{
        width: 400px;
        text-align: center;
        border: 1px solid red;
        padding: .2em;
        margin: auto;
        border-radius: 5px;
        background-color: #EA4335;
        color: whitesmoke;
        font-size: 2em;
    }
    .mainrep{
        background-color: #ff9900;
        width: 100%;
        min-width: 500px
    }
    .sectionrep{
        background-color: #FFFFFF;
        width: 98%;
        margin: 0 auto;
    }
    .accordion{
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 25px;
        width: 100%;
        text-align: left;
        border: thin solid gray;
        outline: none;
        transition: 0.4s;
        box-shadow: none;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
    }
    
    .accordion:hover{
        background: #ccc;
 }
    .itemview {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
}
    .itemview>article{
        margin: 10px;
    }
    .itemview>article>div{
        padding: 2em;
    }
    .itemview>article>li{
        padding: .2em;
        font-family: Cardo;
        margin: 10px;
    }
    .itemview>article>div>li>span{
        font-weight: bold;
        font-size: 1em;
    }
    .itemview>article>h2{
        text-align: center;
        font-size: 2em;
    }
    .itemview>article>div>li:nth-child(1){
        font-size: 2em;
        margin-left: -10px;
    }
    .itemview>article>figure{
        width: 400px;
        max-width: 400px;
        margin: 0 auto;
    }
    .itemview>article>figure>img{
        width: 100%;
    }
    /*Menu*/
    .hamburger{
        display: flex;
        position: absolute;
        right: 0.5em;
        font-size: 2em;
        border: none;
        margin-top: 5px;
    }
    .navigation.responsive{
        position: relative;
    }
    .navigation.responsive li{
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 2em;
        font-weight: bold
    }
    .navigation.responsive li:nth-child(1){
        background-color: #FFFFFF;
    }
        .navigation.responsive li:nth-child(2){
        background-color: #00a1f1;
    }
        .navigation.responsive li:nth-child(3){
        background-color: #ff9900;
    }
        .navigation.responsive li:nth-child(4){
        background-color: #66767f;
    }
        .navigation.responsive li:nth-child(5){
        background-color: #ffcc00;
    }
        .navigation.responsive li:nth-child(6){
        background-color: #3fa956;
    }
        .navigation.responsive li a{
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
    }
    .navigation.responsive li a:hover{
        background-color: #037BfF;
    }
    

}