@media only screen and (min-width: 64em ) {
   header,  main, .getinfo, .warning{
        width: 1000px;
    }
    .jsection{
        width: auto;
    }
header img {
        margin: 0 auto;
        width: 90%;
        padding: .5rem;
        height: 110px;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        list-style: none;
        margin: 0;
    }

    .navigation li a{
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        height: auto;
    }
    .navigation.responsive li a:hover{
        background-color: #037BFF;
    
    }
    main h2{
        margin: auto;
    }
    main{
        width: 900px;
    }
main figure { 
        margin: 0 auto; 
        width:98%;
        padding: 1rem;
    }
main figure img { 
        margin:auto;
        width: 100%;
        height: 9em;
}
    .current{
        border: 1px solid black;
    }

    .weather-summary {
        width: 100%;
        font-weight: bold;
    }
    .current{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    .forecast {
        width: 450px;
        background-color: #333;
        margin-left: 25%;
        color: yellowgreen
    }
    .forecast,thead,tbody,th,td,tr{
        border-collapse: collapse;
    }
    .forecast,thead,tbody,th,td,tr{
        border: 1px solid black;
    }
    article {
        margin: 10px;
    }
    article img {
        width: 50%;
    }
    .town-article{
        width: 45%;
        margin: 20px;
        font-size: 16px;
    }

 .gallery{
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    div figure img{
        width: 90%;
        margin: 15px;
    }
    /*JSECTION Index Page*/
.jsection{
    background-color: #ddd;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.jsection article{
    background-color: white;
    width: 30%;
    padding: .5rem;
    border-radius: 4px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.jsection article p:nth-child(2){
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    color: #aaa;
    width: 70%;
    margin: 0 auto;
}
.jsection article h2{
    border-bottom: 2px solid #ccc;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
}
.jsection article p{
    padding: 1rem;

}
.jsection article ul{
    list-style: none;
    text-align: left;
    font-size: .8rem;
}
   #index-img{
        display: flex;
        flex-direction: row;
        width: auto;
        padding: .5rem;
        
    }
    #index-img img{
        width: 20%;
        margin: 0 auto;
    }
}