@media only screen and (min-width: 64em ) {
   header,  main, .getinfo, .warning, .jsection{
        width: 1000px;
    }
header img {
        margin: 0 auto;
        width: 90%;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        list-style: none;
        margin: 0;
    }

    .navigation li a{
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        height: auto;
    }
    .navigation.responsive li a:hover{
        background-color: #037BFF;
    
    }
    main h2{
        margin: auto;
    }
    main{
        width: 900px;
    }
main figure { 
        margin: 0 auto; 
        width:98%;
        padding: 1rem;
    }
main figure img { 
        margin:auto;
        width: 100%;
        height: 9em;
}
    .current{
        border: 1px solid black;
    }

    .weather-summary {
        width: 100%;
        font-weight: bold;
    }
    .current{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    .forecast {
        width: 450px;
        background-color: #333;
        margin-left: 25%;
        color: yellowgreen
    }
    .forecast,thead,tbody,th,td,tr{
        border-collapse: collapse;
    }
    .forecast,thead,tbody,th,td,tr{
        border: 1px solid black;
    }
    article {
        margin: 10px;
    }
    article img {
        width: 50%;
    }
    .town-article{
        width: 45%;
        margin: 20px;
        font-size: 16px;
    }

 .gallery{
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    div figure img{
        width: 90%;
        margin: 15px;
    }

}