* { margin: 0;
    box-sizing: border-box;} 
body {
  font-size: 16px;
  font-family: Open Sans;  
}
footer, nav {
      margin: 0 auto;
      text-align: center;
}
header, main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.jsection{
  margin: 0 auto;
  text-align: center;
}
header{
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        margin: 0 auto;
}
header img {
        margin: auto;
        width: 100%;
}
.hamburger{
    display: flex;
    position: absolute;
    right: 0.5em;
    
}
nav {
    background-color: #233;
}
.navigation{
    list-style: none;
    align-items: center;
}
.navigation li {
    display: none;
    text-align: center;
}
.navigation li a{
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    padding: 5px;
}
.navigation li a:hover{
    background-color: #037dff;
    color: whitesmoke;
}
@media only screen and (max-width:37.5em){
    .navigation.responsive{
        position: relative;
    }
    .navigation.responsive li{
        display: block;
        width: 100%;
        margin: 2px 0;
        border: thin solid #ddd;
    }
    .navigation.responsive li a{
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
        color: whitesmoke;
    }
    .navigation.responsive li a:hover{
        background-color: #037BfF;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
main h2 {
    color: orange;
    padding: .2rem;
}
.green{
    color: green;
    padding: .2rem;
    text-align: center;
}
.spring{
    color: slateblue;
    padding: .2rem;
    text-align: center;
}
main figure { 
    margin: 0 auto; 
    width:100%; 
}
main figure img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 8em;
}
main picture img {
        width: 9%;
    }
.weather-summary {
        width: 100%;
        margin: 0 auto;
    }
    .current p{
        text-transform: capitalize;
    }
.forecast{
    display: none;
}
article img {
    width: 180px;
    
}
.town-article{
    text-align: justify;
    margin: 0;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 5px;
}
.contact{
    background-color: #037BFF;
    color: whitesmoke;
    font-size: 100%;
    width: 100%;
    height: 90px;
    padding:10px;
}
.footer-bar {
    background-color: #333;
    color:whitesmoke;
    font-size: 100%;
    padding: 8px;
}
/*--Galley-->*/
.gallery{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    text-align: justify;
    font-size: 14px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    background-color: #eee;
}
.gallery div{
    margin: 10px;
    background-color: white;
}

.gallery div:hover{
    box-shadow:  0 0 3px 3px lightgray;
    border-radius: 3px 3px;
}
div figure img{
    max-width: 100%;
    margin: 0 auto;
}
div figcaption{
    margin: 5px; 
}
/*---Received Warning ---*/
.warning{
    background: white;
    width: 20rem;
    color: darkblue;
    min-height: 30rem;
    max-height: 600px;
}
.warning h1{
    margin-top:4rem;
}
.warning p{
    background: red;
    border-radius: .75rem;
    padding: .5rem;
    margin: 10px;
    color: whitesmoke;
    font-weight: bold;
}
/*--Form--*/

.getinfo {
    display: block;
    width: 20rem;
    padding: .5rem;
    border-radius: 4px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.getinfo form{
    width: 100%;
    padding: .5rem;
    margin: 0;
    width: 98%;
}
.getinfo form fieldset{
    border: thin solid gray;
    color: black;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: auto;
}
.getinfo form fieldset label{
   display: block;
   padding-top: 1rem;
   font-size: 14px;
   font-weight: bold;
   margin: 0 auto;
   color: #ec636a;
}
.getinfo form fieldset input{
    width: 100%;
    height: 2rem;
    font-size: 18px;
}
.getinfo form fieldset textarea{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.sendb{
    border: none;
    padding: 1rem;
    margin: 1rem;
    background: green;
    font-weight: bold;
    border-radius: 4px;
    width: 50%;
    color: whitesmoke; 
}
.bcontact {
    background: #f0f0f0;
}
/*--Index Page-- */
.jsection{
    background-color: #ddd;
    padding: 1rem;
    width: 320px;
}
.jsection article{
    background-color: white;
    width: 100%;
    padding: .5rem;
    border-radius: 4px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.jsection article:nth-child(3){
    display: none;
}
.jsection article:nth-child(1) h2{
    color: orange;
}
.jsection article:nth-child(2) h2{
    color: forestgreen;
}
.jsection article:nth-child(4) h2{
    color: blueviolet;
}
.jsection article p:nth-child(6){
    color: red;
    text-align: left;
    font-weight: bold;
}
.jsection article p:nth-child(2){
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #aaa;
    width: 70%;
    margin: 0 auto;
}
.jsection article h2{
    border-bottom: 2px solid #ccc;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
}
.jsection article p{
    padding: 1em;

}
.jsection article ul{
    list-style: none;
    text-align: left;
    font-size: .8em;
}
p .desc{
    color: red;
    text-transform: capitalize;
}
#index-img{
    display: none;
}