@media only screen and (min-width: 64em ) {
   header, nav, main, footer{
        width: 1000px;
    }
header img {
        margin: auto;
        width: 50%;
    }
    .hamburger{
        display: none;
    }
    .navigation{
    list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        height: 30px;

    }
    .navigation  li{
        float: left;
        width: 100%;
    }
 /*   .navigation{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #037BFF;
    display: contents;
    height: 100px;
    }*/
    .navigation li{
        float: left;
        width: 146px;
        display: block;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .navigation li a{
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
                font-size: 18px;
    }
    .navigation.responsive li a:hover{
        background-color: #037BFF;
    
    }*/
main figure { 
        margin: 0 auto; 
        width:100%;
    }
main figure img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        width: 100%;
        height: 9em;
}
  /*  .weather-summary {
        margin: 0 auto;
        font-size: 14px;
        border: 1px solid red;
        position: relative;
    }
    .highlow {
        padding: 10px;
        margin: 0 auto;
        width: 150px;
    }
    .current {
        padding: 10px;
        margin-top:-88px;
        float: left;
        width: 150px;
    }
    .conditions{
        padding: 10px;
        float: right;
        width: 150px;
    }
    .forecast {
        position: relative;
        display: block;
        width: 450px;
        margin-top: 40px;
        float: left;
    }*/
    .weather-summary {
        width:100%;
        height: 120px;
        font-size: 16px;
        font-weight: bold;
    }
    .highlow {
        margin-right: 
        width: 100px;
    }
    .current {
        margin-left: 200px;
        margin-top: -90px;
    }
    .current picture img{
        width: 200%;
    }
    .conditions{
        width: 200px;
    }
    .forecast {
        width: 400px;
        margin: 0 auto;
        margin-top: 40px;
        background-color: lightblue;
    }
    .forecast,thead,tbody,th,td,tr{
        border-collapse: collapse;
    }
    .forecast,thead,tbody,th,td,tr{
        border: 1px solid black;
    }
    article {
        position: static;
        width: auto;
        height: 240px;
        margin: 0 auto;
        text-align: justify;
    }
    article img {
        width: 50%;
        
    }
    .town-article{
        width: 45%;
    }
    footer{
        background-color:#333;

    }
 .gallery{
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    div figure img{
    width: 90%;
    margin: 15px;
    }
}